


fieldset{
background-color:  ;
color: ;
font-family: ;
font-style: italic;;
border: 10px solid blue;
border-radius:20px;
position: absolute;
float: ;
margin:1%;
padding:5%;
}


body{
background-color:  ;
}
